<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="usuario.logado">Usuário Logado: {{ usuario.nome}}</p>
        <p v-else-if="usuario.anonimo">Navegando como anônimo</p>
        <p v-else>Nenhum usuário logado</p>
        <button @click="{{ usuario.logado = !usuario.logado }}">{{ usuario.logado ? 'Sair' : 'Entrar'}}</button>
        <label for="anonimo">Navegar Anônimo</label>
        <input type="checkbox" id="anonimo" v-model="usuario.anonimo">
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            usuario: {
                nome: 'Tony Frezza',
                logado: false,
                anonimo: false,
            },

        }
    });
</script>

</html>